
#header{
    z-index:12 ;
    position: fixed;
    background-color: rgba(25, 25, 25, 0.8);
    width: 100%;
}
.navbar-brand {
    font-size: 56px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: -125px;
}
#navbarNav{
    margin-right: -125px;
}
.navbar-brand:hover {
    font-size: 56px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.navbar-brand span{
    color: #00cdce;
}
 .navbar-nav .nav-link{
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    
}
 .navbar-nav .nav-item{
    margin: 0 16px;
    border-bottom: 3px solid white;
}
.navbar-nav .nav-item a:hover{
    color: #00cdce;
}
 .navbar-nav .nav-item:hover{
    margin: 0 16px;
    border-bottom: 0px
}
.carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-caption{
    position: absolute;
    top: 340px;

}
.carousel-caption h5{
    font-size: 60px;
    font-weight: 900;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
}
.carousel-caption p{
    font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;
}
.carousel-indicators .active{
    background-color: black;
}
#about h2{
    text-align: center;
    margin: 50px;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;;
}

.about__item{
    text-align: center;

}
.about__img a{
    color: black;
}
.about__img i{
    height:100px ;
    width: 100px;
    background-color: #FFF;
    border-radius: 50px;
    font-size: 2em;
    border: 1px solid #7f7777;
    padding-top: 30px;
}
.about__img p{
    line-height: 2em;
    font-size: 18px;
    color: #7f7777;
    margin-top: 18px;
}
.about__img i:hover{
    background-color: #00cdce;
    color: #FFF;
}
#about h3{
    padding: 20px;
    text-align: center;
    color: #00cdce;
    font-size: 35px;
}
#about p.active{
    margin: 5px 0 0 0;
    color: #000;
    font-size: 17px;
    text-align: center;
    line-height: 29px;
}
#number{
    margin-top: 80px;
    background-color: #00cdce;
    text-align: center;
    padding-bottom: 60px;
}
#number h2{
    padding-top: 0.8em;
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
}
.number__content h4{
    font-size: 56px;
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}
.number__content p{
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}
#blog{
    padding: 80px;
}
#blog h3{
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.blog__info{
    width: 100%;
    margin: 15px;
    background-color: #e7e7e7;
    border-top: 4px solid #00cdce;
}
.blog__img img{
    width: 100%;
    height: auto;
}
.blog__text a.active{
    font-size: 1.6em;
    color: #00cdce;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px;
}
.blog__text a.active:hover{
    color: #000;
    text-decoration: none;
    outline: none;
}
.blog__text p{
    font-size: 17px;
    color: #000;
    margin: .5em 0em;
    line-height: 26px;
    padding:  0 15px;
}
.blog__text button{
    background-color: #000;
    height: 45px;
    width: 130px;
    margin: 13px;
    color: #00cdce;
    
}

.blog__text button:hover{
    background-color: #000;
    color: #FFF;
}
#clip{
    background-color: #00cdce;
}
.clip__item img{
    position: relative;
    width: 100%;    
}
.clip__button{
    text-align: center;
}
.clip__button a{
    position: absolute;
    top: 40%;
    left: 40%;
    height: 80px;
    width: 80px;
    background-color:rgba(0, 189, 189, 0.53);
    border-radius: 50px;

}
.clip__button i{
    font-size: 35px;
    position: absolute;
    top:23px;   
    left: 22px;
    color: white;
}
.clip__text{
    padding: 0em 5.5em;
    margin-left: 10px;
    text-align: center;
}
.clip__text h3{
    margin: 1em 0 .5em;
    font-size: 42px;
    color: #000;
}
.clip__text p{
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2em;
    text-align: center;
}
.clip__text button{
    background-color: #000;
    height: 45px;
    width: 130px;
    margin: 13px;
    color: #00cdce;
}
.clip__text button:hover{
    color: #FFF;
}
.portfolio__content h2{
    padding: 60px;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.Portfolio__item{
    position: relative;

}
.Portfolio__img{
    margin: 15px;
}
.Portfolio__overplay{
    position: absolute;
    top: 35px;
    left: 55px;
    background: rgba(0,0,0,.72);
    width: 80%;
    height: 75%;
    text-align: center;
    opacity: 0;
    transition: all 1s;
}
.Portfolio__overplay:hover{
    opacity: 1;
}
.Portfolio__text h3{
    text-transform: uppercase;
    font-weight: 300;
    margin-left: 30px;
    color: #00cdce;
    border-bottom: 1px solid #00cdce;
    border-top: 1px solid #00cdce;
    padding: 25px;
    margin-top: 20px;
    width: 80%;
}
.Portfolio__text p{
    color: #fff;
    font-size: 18px;
    margin: 15px;
    letter-spacing: 3px;
    text-align: center;
}
#sub{
    background-color: #00cdce;
    text-align: center;
    margin-top: 60px;
}
.sub__title h3{
    padding: 40px;
    margin-bottom: 15px;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    
}
.sub__title p{
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #ffffff;
    padding: 1em 11em;
}
.sub__form{
    width: 53%;
    margin-left: 276px;
}
.sub__form input{
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
}
.sub__button{
    margin: 20px;
    text-align: center;
    padding-bottom: 40px;
}
.sub__button button{
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 50px;
    border: 1px solid #000;
    outline: none;
    background-color: #000;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
.sub__button button:hover{
    color: #000;
    background-color: #dfdfdf;
    outline: none;
}
#agent{
    padding: 50px;
}
.agent__title h3{
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.agent__info{
    background: rgba(0, 0, 0, 0.79);
    text-align: center;
    width: 100%;
}
.agent__img{
    width: 100%;
    
}
.agent__text h4{
    margin: 15px;
    color: #00cdce;
    font-size: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}
.agent__text p{
    color: #fff;
}
.agent__icon i{
    padding-top: 5px;
    height: 30px;
    border: 2px solid white;
    width: 30px;
    margin-left: 20px;
    color: white;
}
.agent__icon{
    padding-bottom: 15px;
    margin-left: -15px;
}
.agent__info :hover{
    color: #fff;
}
.agent__icon a i.fab.fa-facebook-f:hover{
    background-color: #3b5998;
}
.agent__icon a i.fab.fa-twitter:hover{
    background-color: #55acee;
}
.agent__icon a i.fas.fa-rss:hover{
    background-color: #f26522;
}
.contact__maps{
    margin-top: 60px;
    background-color: #7f7777;
    padding: 15px;
}
.googlemap{
    width: 100%;
    border: 3px solid #7f7777;
}
.contact__content{
    padding: 45px;
    text-align: center;
}
.contact__title h2{
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}
.contact__input{
    width: 100%;
}
.contact__left input{
    margin: 15px;
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
}
.contact__left input:hover{
    border-bottom: solid 2px #000;
}
.input__right input{
    margin: 15px;
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
    padding-bottom: 165px;
}
.contact__right input:hover{
    border-bottom: solid 2px #000
}
.input__submit input{
    width: 100%;
    width: 100%;
    color:white;
    background: black;
    font-size: 1em;
    padding:7px;
    margin-bottom: 2em;
    border: none;
    margin-left: 15px;
}
.input__submit input:hover{
    background-color: #00cdce;
    color: #000;
}
#footer{
    background-color: #00cdce;
}
.footer__content{
    padding: 45px;
}
.footer__item{
    padding-top: 15px;
}
.footer__text p{
    color: #fff;
    letter-spacing: 2px;
}
.footer__text a{
    color: red;
    text-decoration: none;
}.footer__icon i{
    margin-left: 25px;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    line-height: 33px;
    text-align: center;
    color: #fff;
}
.footer__icon{
    margin-left: 50px;
}
.footer__icon i.fab.fa-facebook-f:hover{
    color: #3b5998;
}
.footer__icon i.fab.fa-twitter:hover{
    color: #55acee;
}
.footer__icon i.fas.fa-rss:hover{
    color: #f26522;
}
.footer__icon i.fab.fa-vk:hover{
    color: #45668e;
}